.piano-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
  }
  
  .wood-background {
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .key {
    position: relative;
    width: 40px;
    height: 180px;
    border: 1px solid #333;
    border-radius: 3px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    margin-right: -1px;
  }
  
  .key.white {
    z-index: 1;
  }
  
  .key.black {
    z-index: 2;
    width: 30px;
    height: 110px;
    background-color: #333;
    border-radius: 0 0 5px 5px;
    margin-top: -70px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
  }
  
  .key.c-sharp,
  .key.d-sharp,
  .key.f-sharp,
  .key.g-sharp,
  .key.a-sharp {
    margin-top: -60px;
    z-index: 3;
  }
  
  .key.c-sharp {
    left: 35px;
    background-color: #333;
  }
  
  .key.d-sharp {
    left: 85px;
    background-color: #333;
  }
  
  .key.f-sharp {
    left: 185px;
    background-color: #333;
  }
  
  .key.g-sharp {
    left: 235px;
    background-color: #333;
  }
  
  .key.a-sharp {
    left: 285px;
    background-color: #333;
  }
  
  .key.white.c {
    width: 50px;
  }
  
  .key.white.c1 {
    width: 50px;
    margin-top: -20px;
  }
  
  .key.white.c2 {
    width: 50px;
    margin-top: -20px;
  }
  
  .key.white {
    position: relative;
    z-index: 1;
  }
  
  .piano-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .key {
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
    width: 50px;
    height: 200px;
    position: relative;
  }
  
  .white {
    background-color: white;
    margin: 5px;
    z-index: 1;
  }
  
  .black {
    background-color: black;
    margin-left: -25px;
    width: 35px;
    height: 120px;
    z-index: 2;
    position: absolute;
  }
  .c-sharp, .d-sharp, .f-sharp, .g-sharp, .a-sharp {
    margin-left: 25px;
  }
body
{
    background-color: #F5F5DC;
}